@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

a {
  color: red;
}
h1 {
  margin: auto;
  margin-top: 50px;
}
body {
  background-color: black;
}
.LoginDiv {
  margin: auto;
  width: 30%;
  font-family: "Special Elite", cursive;
}
.SignupDiv {
  margin: auto;
  width: 30%;
  font-family: "Special Elite", cursive;
}
.HomeHeader {
  font-family: "Press Start 2P", cursive;
}
.HomeLabel {
  font-family: "Press Start 2P", cursive;
  margin: 10px;
}
.BorderGradient {
  margin: auto;
  margin-top: 250px;
  max-width: 300px;
  padding: 5px;
  position: relative;
  background: linear-gradient(to right, red, green, blue);
  border-radius: 1.2em;
  padding: 1px;
}
.BorderGradientSignup {
  margin: auto;
  margin-top: 250px;
  max-width: 300px;
  padding: 5px;
  position: relative;
  background: linear-gradient(to right, red, green, blue);
  border-radius: 1.2em;
  padding: 1px;
}
.LoginForm {
  background-color: white;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-top: 10px;
  border-radius: 1.2em;
}
.SignupForm {
  background-color: white;

  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-top: 10px;
}
.HomeLogin {
  align-content: center;
  padding: 30px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.HomePage {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  box-shadow: 1px 1px 1px black;
}
.SecondPage {
  margin-top: 20px;
  margin-left: 1100px;
  background-color: rgba(122, 40, 255, 0.8);
  color: white;
  width: 20%;
  border-radius: 1em;
  text-align: center;
  border: 2px solid white;
  padding: 5px;
}
.SecondLogin {
  font-family: "Noto Serif JP", serif;
  align-content: center;
  padding: 5px;
  margin: auto;
}
.SecondLogin input {
  font-family: "Noto Serif JP", serif;
  margin: 5px;
}
.ThirdPage {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
}

.ThirdLogin {
  background: black;
  color: white;
  padding: 10px;
  position: absolute;
  left: 555px;
  top: 600px;
  border: 2px solid white;
  width: 20%;
  border-radius: 2em;
  text-align: center;
  padding-top: 20px;
  height: 15vh;
}
.ThirdLogin input {
  margin: 5px;
}
.FourthPage {
  display: flex;
  flex-direction: row;
}
.FourthLogin {
  color: white;
  /* margin-top: 20px; */
  margin-left: 610px;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  background-color: rgba(200, 200, 250, 0.9);
  text-align: center;
  border-radius: 1.2em;
  box-shadow: 1px 1px 20px rgba(200, 200, 250, 0.9);
  width: 20%;
  height: 250px;
  padding: 5px;
}
.FourthLogin input {
  margin: 10px;
  font-family: "Pacifico", cursive;

  border-radius: 1em;
  background-color: rgb(176, 241, 201);
}
.FifPage {
  padding: 20px;
}
.FifthLogin {
  color: white;
  margin: auto;
  width: 50%;
  border: 3px dashed white;
  margin-bottom: 20px;
}
.FifthLogin input {
  margin: 10px;
}
.ActionCable {
  width: 500px;
  height: 400px;
  max-width: 500;
  max-height: 400;
  margin-left: 900px;
  margin-top: 50px;
  border: solid 3px white;
  text-align: left;
  padding: 10px;
  overflow-y: auto;
  word-break: break-all;
  color: white;
  font-family: "Special Elite", cursive;
}

.Chatroom {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
}
.LogoutButton {
  color: red;
  background-color: white;
  z-index: 4;
}
